In [4]:
import pandas as pd

In [143]:
depression_df = pd.read_csv('STNAME x ADWRDEPR.csv')

In [144]:
depression_df2 = depression_df.set_index("STATE NAME").sort_index()

In [145]:
depression_df2

,WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY,Total %,Total % SE,Total % CI (lower),Total % CI (upper),Row %,Row % SE,Row % CI (lower),Row % CI (upper),Column %,Column % SE,Column % CI (lower),Column % CI (upper),Weighted Count,Count SE
STATE NAME,,,,,,,,,,,,,,,
ALABAMA,1 - Yes,0.002,0.0002,0.001,0.002,0.015,0.0013,0.012,0.017,0.112,0.0081,0.098,0.129,458000,42000
ALABAMA,2 - No,0.000,0.0001,0.000,0.001,0.015,0.0023,0.011,0.020,0.030,0.0047,0.022,0.041,121000,19000
ALABAMA,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
ALABAMA,94 - DON T KNOW,0.000,0.0000,0.000,0.000,0.018,0.0133,0.004,0.074,0.001,0.0005,0.000,0.003,3000,2000
ALABAMA,99 - LEGITIMATE SKIP,0.013,0.0006,0.012,0.014,0.015,0.0007,0.014,0.016,0.846,0.0110,0.823,0.866,3443000,159000
ALABAMA,98 - BLANK,0.000,0.0001,0.000,0.000,0.023,0.0077,0.012,0.044,0.011,0.0038,0.006,0.022,46000,15000
ALABAMA,Overall,0.015,0.0007,0.014,0.016,0.015,0.0007,0.014,0.016,1.000,0.0000,NaN,NaN,4071000,181000
ALASKA,94 - DON T KNOW,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
ALASKA,Overall,0.002,0.0001,0.002,0.002,0.002,0.0001,0.002,0.002,1.000,0.0000,NaN,NaN,585000,26000
ALASKA,2 - No,0.000,0.0000,0.000,0.000,0.003,0.0004,0.002,0.004,0.039,0.0061,0.029,0.053,23000,4000
ALASKA,98 - BLANK,0.000,0.0000,0.000,0.000,0.005,0.0013,0.003,0.008,0.017,0.0040,0.010,0.027,10000,2000
ALASKA,99 - LEGITIMATE SKIP,0.002,0.0001,0.002,0.002,0.002,0.0001,0.002,0.002,0.792,0.0159,0.759,0.821,463000,25000
ALASKA,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
ALASKA,1 - Yes,0.000,0.0000,0.000,0.000,0.003,0.0002,0.002,0.003,0.152,0.0127,0.129,0.179,89000,7000
ARIZONA,98 - BLANK,0.000,0.0001,0.000,0.001,0.046,0.0114,0.028,0.074,0.016,0.0039,0.010,0.026,91000,23000
ARIZONA,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
ARIZONA,2 - No,0.001,0.0001,0.000,0.001,0.019,0.0042,0.012,0.029,0.027,0.0063,0.017,0.042,155000,36000
ARIZONA,1 - Yes,0.002,0.0003,0.002,0.003,0.020,0.0022,0.016,0.025,0.110,0.0106,0.091,0.133,639000,72000
ARIZONA,94 - DON T KNOW,0.000,0.0000,0.000,0.000,0.020,0.0203,0.003,0.133,0.001,0.0005,0.000,0.004,3000,3000
ARIZONA,Overall,0.021,0.0009,0.020,0.023,0.021,0.0009,0.020,0.023,1.000,0.0000,NaN,NaN,5788000,242000
ARIZONA,99 - LEGITIMATE SKIP,0.018,0.0008,0.017,0.020,0.021,0.0009,0.020,0.023,0.846,0.0125,0.820,0.870,4900000,212000
ARKANSAS,99 - LEGITIMATE SKIP,0.008,0.0004,0.007,0.009,0.009,0.0005,0.008,0.010,0.841,0.0113,0.818,0.862,2083000,110000
ARKANSAS,97 - REFUSED,0.000,0.0000,0.000,0.000,0.032,0.0328,0.004,0.207,0.001,0.0007,0.000,0.005,2000,2000
ARKANSAS,Overall,0.009,0.0004,0.008,0.010,0.009,0.0004,0.008,0.010,1.000,0.0000,NaN,NaN,2475000,116000
ARKANSAS,1 - Yes,0.001,0.0001,0.001,0.001,0.010,0.0008,0.008,0.011,0.122,0.0105,0.103,0.144,301000,26000
ARKANSAS,2 - No,0.000,0.0000,0.000,0.000,0.009,0.0015,0.006,0.012,0.029,0.0049,0.021,0.040,72000,12000
ARKANSAS,94 - DON T KNOW,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
ARKANSAS,98 - BLANK,0.000,0.0000,0.000,0.000,0.009,0.0038,0.004,0.020,0.007,0.0029,0.003,0.016,18000,7000
CALIFORNIA,97 - REFUSED,0.000,0.0000,0.000,0.000,0.309,0.1652,0.089,0.671,0.001,0.0004,0.000,0.002,17000,12000
CALIFORNIA,1 - Yes,0.013,0.0007,0.012,0.015,0.113,0.0054,0.103,0.124,0.108,0.0047,0.099,0.118,3561000,183000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VIRGINIA,2 - No,0.001,0.0001,0.001,0.001,0.026,0.0038,0.020,0.034,0.031,0.0042,0.024,0.040,216000,32000
VIRGINIA,99 - LEGITIMATE SKIP,0.022,0.0008,0.020,0.023,0.026,0.0009,0.024,0.028,0.845,0.0090,0.826,0.862,5909000,209000
WASHINGTON,1 - Yes,0.004,0.0003,0.003,0.004,0.032,0.0028,0.027,0.038,0.166,0.0120,0.144,0.191,1021000,91000
WASHINGTON,98 - BLANK,0.000,0.0000,0.000,0.000,0.012,0.0055,0.005,0.030,0.004,0.0018,0.002,0.010,25000,11000
WASHINGTON,99 - LEGITIMATE SKIP,0.018,0.0009,0.016,0.019,0.021,0.0011,0.019,0.023,0.776,0.0143,0.747,0.803,4760000,251000
WASHINGTON,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WASHINGTON,Overall,0.023,0.0011,0.021,0.025,0.023,0.0011,0.021,0.025,1.000,0.0000,NaN,NaN,6135000,307000
WASHINGTON,94 - DON T KNOW,0.000,0.0000,0.000,0.000,0.050,0.0396,0.010,0.213,0.001,0.0010,0.000,0.006,8000,6000
WASHINGTON,2 - No,0.001,0.0002,0.001,0.002,0.039,0.0057,0.029,0.052,0.052,0.0072,0.040,0.069,322000,48000
WEST VIRGINIA,2 - No,0.000,0.0000,0.000,0.000,0.006,0.0014,0.004,0.010,0.034,0.0071,0.023,0.051,53000,11000
WEST VIRGINIA,Overall,0.006,0.0002,0.005,0.006,0.006,0.0002,0.005,0.006,1.000,0.0000,NaN,NaN,1551000,50000
WEST VIRGINIA,1 - Yes,0.001,0.0001,0.001,0.001,0.007,0.0007,0.006,0.008,0.137,0.0145,0.111,0.168,212000,21000
WEST VIRGINIA,94 - DON T KNOW,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WEST VIRGINIA,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WEST VIRGINIA,98 - BLANK,0.000,0.0000,0.000,0.000,0.010,0.0034,0.005,0.019,0.013,0.0043,0.006,0.024,19000,7000
WEST VIRGINIA,99 - LEGITIMATE SKIP,0.005,0.0002,0.004,0.005,0.006,0.0002,0.005,0.006,0.816,0.0146,0.786,0.843,1266000,52000
WISCONSIN,Overall,0.018,0.0008,0.016,0.020,0.018,0.0008,0.016,0.020,1.000,0.0000,NaN,NaN,4877000,220000
WISCONSIN,2 - No,0.001,0.0001,0.000,0.001,0.022,0.0038,0.016,0.031,0.038,0.0062,0.028,0.052,187000,32000
WISCONSIN,94 - DON T KNOW,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WISCONSIN,1 - Yes,0.002,0.0002,0.002,0.003,0.020,0.0018,0.016,0.024,0.127,0.0112,0.107,0.151,622000,58000
WISCONSIN,98 - BLANK,0.000,0.0000,0.000,0.000,0.006,0.0028,0.003,0.015,0.003,0.0012,0.001,0.006,12000,6000
WISCONSIN,99 - LEGITIMATE SKIP,0.015,0.0007,0.014,0.016,0.018,0.0009,0.016,0.019,0.832,0.0118,0.807,0.854,4057000,196000
WISCONSIN,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WYOMING,Overall,0.002,0.0001,0.002,0.002,0.002,0.0001,0.002,0.002,1.000,0.0000,NaN,NaN,479000,19000
WYOMING,1 - Yes,0.000,0.0000,0.000,0.000,0.002,0.0002,0.001,0.002,0.112,0.0097,0.095,0.133,54000,5000
WYOMING,98 - BLANK,0.000,0.0000,0.000,0.000,0.001,0.0005,0.000,0.003,0.004,0.0020,0.002,0.011,2000,1000
WYOMING,94 - DON T KNOW,0.000,0.0000,0.000,0.000,0.002,0.0021,0.000,0.015,0.001,0.0006,0.000,0.005,0,0
WYOMING,97 - REFUSED,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0.000,0.0000,NaN,NaN,0,0
WYOMING,2 - No,0.000,0.0000,0.000,0.000,0.002,0.0003,0.001,0.003,0.031,0.0056,0.022,0.044,15000,3000
WYOMING,99 - LEGITIMATE SKIP,0.002,0.0001,0.001,0.002,0.002,0.0001,0.002,0.002,0.851,0.0120,0.826,0.873,408000,18000

In [146]:
depression_df3 = depression_df2.loc[depression_df2['WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY'].isin(['1 - Yes', '2 - No'])]

In [147]:
depression_df3 = depression_df3[['WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY', "Count SE"]]

In [148]:
depression_df3.head()

           WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY  Count SE
STATE NAME
ALABAMA                                             1 - Yes     42000
ALABAMA                                              2 - No     19000
ALASKA                                               2 - No      4000
ALASKA                                              1 - Yes      7000
ARIZONA                                              2 - No     36000

In [149]:
depression_df_yes = depression_df3.loc[depression_df3['WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY'] == '1 - Yes']

In [150]:
depression_df_yes.rename(columns = {'Count SE': 'Yes'}, inplace = True)
depression_df_yes.drop("WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY",axis = 1,  inplace = True)
depression_df_yes.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

               Yes
STATE NAME
ALABAMA      42000
ALASKA        7000
ARIZONA      72000
ARKANSAS     26000
CALIFORNIA  183000

In [151]:
depression_df_no = depression_df3.loc[depression_df3['WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY'] != '1 - Yes']

In [152]:
depression_df_no.rename(columns = {'Count SE': 'No'}, inplace = True)
depression_df_no.drop("WHEN PRBLMS WORST FELT SAD/EMPTY/DPRSD EVERY DAY",axis = 1,  inplace = True)
depression_df_no.head()

               No
STATE NAME
ALABAMA     19000
ALASKA       4000
ARIZONA     36000
ARKANSAS    12000
CALIFORNIA  90000

In [153]:
final_df = depression_df_yes
final_df['No'] = depression_df_no["No"]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [154]:
final_df.head()

               Yes     No
STATE NAME
ALABAMA      42000  19000
ALASKA        7000   4000
ARIZONA      72000  36000
ARKANSAS     26000  12000
CALIFORNIA  183000  90000

In [155]:
final_df['Total'] =  final_df.apply(lambda x: x['Yes'] + x['No'], axis=1)
final_df.reset_index(inplace = True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
final_df.head()

   STATE NAME     Yes     No   Total
0     ALABAMA   42000  19000   61000
1      ALASKA    7000   4000   11000
2     ARIZONA   72000  36000  108000
3    ARKANSAS   26000  12000   38000
4  CALIFORNIA  183000  90000  273000

In [157]:
final_df['Yes%'] = final_df.apply(lambda x: x['Yes']/x['Total']*100, axis = 1)
final_df['No%'] = final_df.apply(lambda x: x['No']/x['Total']*100, axis = 1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [158]:
final_df.head()

   STATE NAME     Yes     No   Total       Yes%        No%
0     ALABAMA   42000  19000   61000  68.852459  31.147541
1      ALASKA    7000   4000   11000  63.636364  36.363636
2     ARIZONA   72000  36000  108000  66.666667  33.333333
3    ARKANSAS   26000  12000   38000  68.421053  31.578947
4  CALIFORNIA  183000  90000  273000  67.032967  32.967033

In [168]:
final_df = final_df[~final_df['STATE NAME'].isin(['DISTRICT OF COLUMBIA', 'Overall'])]

In [169]:
final_df

        STATE NAME     Yes     No   Total       Yes%        No%
0          ALABAMA   42000  19000   61000  68.852459  31.147541
1           ALASKA    7000   4000   11000  63.636364  36.363636
2          ARIZONA   72000  36000  108000  66.666667  33.333333
3         ARKANSAS   26000  12000   38000  68.421053  31.578947
4       CALIFORNIA  183000  90000  273000  67.032967  32.967033
5         COLORADO   66000  29000   95000  69.473684  30.526316
6      CONNECTICUT   36000  16000   52000  69.230769  30.769231
7         DELAWARE   10000   5000   15000  66.666667  33.333333
9          FLORIDA  119000  62000  181000  65.745856  34.254144
10         GEORGIA   77000  37000  114000  67.543860  32.456140
11          HAWAII   14000   6000   20000  70.000000  30.000000
12           IDAHO   15000  10000   25000  60.000000  40.000000
13        ILLINOIS   67000  38000  105000  63.809524  36.190476
14         INDIANA   61000  31000   92000  66.304348  33.695652
15            IOWA   25000  14000   39000  64.102564  35.897436
16          KANSAS   24000  13000   37000  64.864865  35.135135
17        KENTUCKY   48000  18000   66000  72.727273  27.272727
18       LOUISIANA   40000  19000   59000  67.796610  32.203390
19           MAINE   16000   9000   25000  64.000000  36.000000
20        MARYLAND   65000  29000   94000  69.148936  30.851064
21   MASSACHUSETTS   73000  38000  111000  65.765766  34.234234
22        MICHIGAN   56000  27000   83000  67.469880  32.530120
23       MINNESOTA   59000  27000   86000  68.604651  31.395349
24     MISSISSIPPI   24000  10000   34000  70.588235  29.411765
25        MISSOURI   57000  37000   94000  60.638298  39.361702
26         MONTANA    9000   6000   15000  60.000000  40.000000
27        NEBRASKA   13000   9000   22000  59.090909  40.909091
28          NEVADA   33000  15000   48000  68.750000  31.250000
29   NEW HAMPSHIRE   15000   8000   23000  65.217391  34.782609
30      NEW JERSEY   81000  34000  115000  70.434783  29.565217
31      NEW MEXICO   17000   5000   22000  77.272727  22.727273
32        NEW YORK  121000  50000  171000  70.760234  29.239766
33  NORTH CAROLINA   81000  32000  113000  71.681416  28.318584
34    NORTH DAKOTA    7000   3000   10000  70.000000  30.000000
35            OHIO   75000  30000  105000  71.428571  28.571429
36        OKLAHOMA   40000  16000   56000  71.428571  28.571429
37          OREGON   42000  19000   61000  68.852459  31.147541
39    PENNSYLVANIA   62000  35000   97000  63.917526  36.082474
40    RHODE ISLAND   10000   6000   16000  62.500000  37.500000
41  SOUTH CAROLINA   47000  26000   73000  64.383562  35.616438
42    SOUTH DAKOTA    8000   3000   11000  72.727273  27.272727
43       TENNESSEE   74000  20000   94000  78.723404  21.276596
44           TEXAS  134000  44000  178000  75.280899  24.719101
45            UTAH   28000  14000   42000  66.666667  33.333333
46         VERMONT    7000   3000   10000  70.000000  30.000000
47        VIRGINIA   63000  32000   95000  66.315789  33.684211
48      WASHINGTON   91000  48000  139000  65.467626  34.532374
49   WEST VIRGINIA   21000  11000   32000  65.625000  34.375000
50       WISCONSIN   58000  32000   90000  64.444444  35.555556
51         WYOMING    5000   3000    8000  62.500000  37.500000

In [170]:
final_df.to_csv('depression_data.csv', index=False)